<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="gbapps.css">
</head>
<body class="container">

<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#">D'Decor Interiors</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="LohitaReddy1.html">Home</a></li>
            <li><a href="Find.html">BEST SELLERS</a></li>
            
           <li><a href="Connect.html">ABOUT</a></li>
           <li><a href="about.html">CONTACT</a></li>
            <li class="active"><a href="guestbook">GUESTBOOK<span class="sr-only">(current)</span></a></li>
            
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
<h1>
Lohita Vanga Guestbook
<a href="/new-entry" class="btn btn-info pull-right">
Write in the guestbook
</a>
</h1>
