body {
    margin:0;
    background-image: url(Untitled.png);  /* https://s-media-cache-ak0.pinimg.com/236x/ae/9f/f0/ae9ff0b449676da31f1db109ca9db3a6.jpg */
}

.mCnt{
    font-style:bold;
    color: black;
    font-family: verdana;
    background-color: white;
    border-radius:4px;
    margin-top: 150px;
    margin-left: 400px;
    border-radius: 5px;
    
}
#sIcons a img{
    width:15%;
}
.li{
    font-size: 25px;
}

#fid {
    text-align: center;
    background-color: #FFFFFF;
    width: 30%; 
    margin-left: 500px;
    margin-left: 500px;
    padding: 20px;
    border-radius: 50px;
}


form {
    margin-top: 100px;
    padding-left: 300px;

}

.submit{                            
background: #f5f6f6;
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}

h3{
    text-align: center;
    padding-right: 70px;
    background-color: white;
}

