body {

    margin:0;
    background-image: url(Untitled.png);  /* https://s-media-cache-ak0.pinimg.com/236x/ae/9f/f0/ae9ff0b449676da31f1db109ca9db3a6.jpg */
}

h1{
    
    text-align: center;
    background-color: white;
}
h2{
    text-align: center;
    background-color: white;
}
.mCnt{
    font-style:bold;
    color: black;
    font-family: verdana;
    background-color: white;
    border-radius:4px;
    margin-top: 150px;
    margin-left: 400px;
    border-radius: 5px;
    
    
}
#sIcons a img{
    width:15%;
    
}
profile{
    border-radius: 100px;
}
h3{
    background-color: white;
}