
body{
    background-image: url(Untitled.png);
    font-family: "Josefin Slab";
}

.mCnt{
    font-style:bold;
    color: black;
    font-family: verdana;
    background-color: white;
    border-radius:4px;
    border-radius: 5px;
    
}
#sIcons a img{
    width:15%;
}
.li{
    font-size: 25px;
}
.soc{
    margin-left: 1000px; 
}