
body {
    margin:10px;
   background-image: url(Untitled.png);  /* https://s-media-cache-ak0.pinimg.com/236x/ae/9f/f0/ae9ff0b449676da31f1db109ca9db3a6.jpg */
}

.mCnt{
    font-style:bold;
    color: black;
    font-family: verdana;
    background-color: white;
    border-radius:4px;
    border-radius: 5px;
    
}
#sIcons a img{
    width:15%;
}
.li{
    font-size: 25px;
}
.soc{
    margin-left: 1000px; 
}
